{# src/App/Witness/edito.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
  Edito - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Histoire de l'homosexualité</h2>


{% endblock %}
