{# src/App/Witness/sondage.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
  Sondage - {{ parent() }}
{% endblock %}

{% block body %}

  <div class="col-md-12">

    <h1> {{ 'interview '|trans }} </h1><br>
    <strong>Presentation du film "broke back montain"  <br>
             Le Secret De BrokeBack Mountain</strong>
    <br><br>
    <div class="row">
      <div class="col-md-4">

        En été 1963, au large du Wyoming, deux jeunes cow-boys Ennis Del Mar et Jack Twist sont engagés par un ranch en tant que berger pour l’un et l’autre en tant que responsable du camp des deux hommes. D’abord dans une relation froide et discrète, les jeunes hommes vont petit à petit développer des relations amicales jusqu’à finalement arriver à une relation sexuelle qui marquera le début de leur amour. Malheureusement, lorsqu’ils arrivent au terme de leur travail d’été, les cow-boys prennent malgré eux des chemins contraires et vont commencer à faire une vie à part, mariés et père de respectivement deux filles pour Ennis et un fils pour Jack. Après avoir finalement repris contact au bout de quatre ans, ils commenceront à entamer une relation amoureuse extra conjugale, notamment dans leurs lieux de rencontre, le BrokeBack Mountain. Malgré leurs profond désir de tout abandonner et de faire leur vie ensemble, et la proposition de Jack à ce sujet faite à Ennis, celui-ci refuse, jugeant cette relation homosexuelle comme devant être cachée sous peine de mourir, tués par d’autre cowboys, comme l’histoire qu’Ennis lui avait raconté dont il fut témoin dans laquelle deux jeunes garçons furent abattus de sang-froid dû à ce même « problème », jugé contre-nature au sein de leur société.
      Lorsque les tensions montent à cause de ce refus, les amoureux abandonneront leurs rencontres mensuelles, organisées depuis maintenant plusieurs années et se priveront de cette « seconde vie » dont ils espéraient plus que quelques rencontres sans histoires particulières. Plus tard, Ennis apprendra la mort de son amant, causée par des circonstances douteuses données par la femme de celui-ci, et dont il imagine une vérité beaucoup plus sombre, dans laquelle leur relation lui a porté préjudice, et où il fut tué par d’autres cow-boys, comme le voulait l’histoire d’Ennis plutôt évoquée.
    </div>
      <div class="col-md-4">
      <strong>Enjeux potentiels voulus par le réalisateur</strong>
        Selon Ang Lee, le but de ce film était d’exhiber une relation basée sur l’illusion, dans laquelle deux jeunes hommes pensent s’aimer et pouvoir s’aimer ; montrer que le véritable amour n’existe pas car nous sommes incapables de définir ce dont il s’agit. Il aurait également voulu créer une histoire d’amour vouée à l’échec…
       On imagine qu’il voulait aussi mettre en avant une « histoire homosexuelle cachée » au cœur de son scénario, profiter de la rareté de ce type d’histoire dans le monde cinématographique pour en récolter un succès mondial, ou tout simplement pour dénoncer explicitement ce que l’homophobie ancrée au sein de leur société (et de quasiment toutes les autres) a apporté aux personnages, à savoir les priver d’une véritable relation au même titre que celle dont ils sont prisonniers dans leur « vraie vie », et nous faire empâtir vis-à-vis de cette histoire, comme on le pourrait avec un amour interdit entre un homme et une femme (dû à leur rang social comme avec le film Titanic, où les deux personnages doivent dissimuler leur relation pour éviter des problèmes).
     </div>
     <div class="col-md-4">
      <strong>Accueil du film par ses spectateurs</strong>
        Malgré les éventuelles attentes négatives, dû à cette histoire du moins pour l’époque sujet encore à polémique, celle-ci a très bien été accueillie, notamment lors d’une de ses premières projections au 62ème festival du film à Venise, où il s’est vu décerné le Lion D’Or, une récompense du festival, ainsi qu’un tonnerre d’applaudissement laissé par les spectateurs. Suite à cela, il aura droit à de nombreuses autres récompenses (8 Oscars, Le Meilleur Scénario Adapté, …).
        Concernant la presse, elle accueille (de manière générale) très bien l’œuvre avec pour la plupart une note parfaite bien qu’il y est quelques réceptions plus négatives comme celle de Positif, qui leur accorde une note de 2/5, jugeant ce film comme beaucoup trop niet, alors que le film appelait rigueur et maturité (« l'ensemble sombre assez vite dans le mélodrame lourdaud où tout est surligné et dans la guimauve, alors que le sujet appelait rigueur et âpreté »)
        Enfin, si on se fit au site d’Allo Ciné, on constate que pour plus de 23 000 critiques, 64 % d’entre elles le mette pleinement en valeur, en lui attribuant une note de 5/5 et en exhibant plusieurs de ses qualités contre à peine 8 % d’entre elles qui n’apprécie clairement pas le film en question que ce soit pour le scénario ou pour sa réalisation. Les retours positifs de ce film le qualifient comme « une très belle histoire d’amour authentique » sans s’attarder sur l’audace du film à montrer explicitement une relation entre deux hommes, car ça semble être aux des spectateurs « bien plus que cela » : ils ne s’arrêtent pas à la sexualité des deux personnages ; ils voient ce que souhaitait montrer Ang Lee en réalisant BrokeBack Mountain, à savoir une histoire impossible que les personnages essayent tant bien que mal de vivre et de dissimuler alors que rien ne laisse croire qu’elle pourra « avancer » (l’histoire), rendant le film « bouleversant » et « pleinement émouvant ». Les critiques négatives, quant à elles, s’attardent beaucoup plus sur l’homosexualité dans le film, en le dénonçant d’être une insulte à la communauté gay, une « caricature », ou au contraire, le dénonce de ne pas suffisamment s’attarder sur la sexualité entre deux individus du même genre, la rendant trop « anecdotique ». D’autres encore, comme la critique faite par Positif vue plutôt, le voient comme un film beaucoup trop « fleur bleue », pas assez sérieux.

      http://www.allocine.fr/film/fichefilm-54989/critiques/presse/
      </div>
    </div>
  </div>

  <div class="col-md-12">
    
      <h1>Lutte contre les discriminations aujourd'hui</h1>

        <h3>Définition : Discrimination</h3>

        <div class="row">

        <div class="col-md-4">

          Le sens du terme discrimination est l’origine neutre , synonyme mot «  discrimination » mais il a pris ,dés lors qu’il concerne une question sociale une connotation péjorative désignant l’action se distinguer de façon injuste ou illégitime comme le fait de séparer  un individu ou un groupe social des autres en le traitant moins bien

          24 critères sont reconnus par la loi française article 225-1 pénal Section 1 mais modifier par la loi n°2016-1547 du 18 novembre 2016 -  art 86logifrance constitue une discrimination opérée entre les personnes physique ou entre les personnes moralement sur le fondement a leur origine, de leur sexe, de leur situation de famille, de leur apparence physique

          Il existe une formation obligatoire a la Non-discrimination – la loi N°2017-86

          Pourquoi cette loi : cette loi répond aux phénomènes de discrimination mis en exergue par un testing réalisé par le ministre du travail en 2016

        </div>

        <div class="col-md-4">

          <strong>Les conséquences</strong> :
          Elles sont lourdes sa « non lise en application » voudra responsabilité de l’entreprise vis-à-vis d’un salarie
          L’association :
          SOS HOMOPHOBIE EST UNE ASSOCIATION LOI 1901 de lutte contre les discriminations et les agressions à caractère homophobie et transphobe  crée le 11 avril 1994 et basée a Paris
          Association de lutte contre les discriminations
          Il existe de nombreuses associations engagées dans des d’intégrations, les violences contre les discriminations
          On peut s’adresser au défenseur des droit si on estime avoir été victime d’une discrimination peut-être une personne physique ou morale, ( une association privée une entreprise,  ou publique  , un service de l’Etat , un service public hospitaliser )
        </div>

      <div class="col-md-4">

          <strong>Discrimination : comment être aidé ?</strong>
          Quand on est victime ou témoin de discrimination, il existe différentes organisation qui peuvent aider .On peut prendre contacte avec la Halde /Haute autorité de lutte contre les discrimination et pour l’égalité) , demander conseil auprès d’un association spécialisée aller voir un avocat et porter plainte
          La Halde : c’est la haute autorité de lutte contre les discriminations et pour l’égalité Créée en 2004, elle aide toute personne à identifier les discrimination et à les combattre, conseille pour les demandes juridiques et contribue à établir la preuve de la  discrimination
          Les discriminations
          La ligue des droits de l’homme (LDH) est une association généraliste qui peut répondre aux différents types de discrimination mais également des associations qui aident les victimes et les témoins d’une discrimination spécifique homophobie, racisme

          <strong>Homophobie :</strong>
          SOS homophobie propose une ligne d’écoute anonyme qui donne des conseils , des informations , des orientations et offre un soutien aux personnes victimes ou temoins d’actes ou de discrimination homophobes
        </div>
      </div>
      </div>
    </div>
  </div>
{% endblock %}
