{# src/App/Witness/sondage.html.twig #}

{% extends "layout.html.twig" %}

{% block title %}
  Sondage - {{ parent() }}
{% endblock %}

{% block body %}

  <div class="col-md-12">
    <div class="btn-lg btn-info" style="text-align:center;">
    <h1> {{ 'survey'|trans }}: </h1><br>
    <strong><h3>Quelques statistiques</h3><br>
    La population homosexuelle <br></strong>


    Les estimations varient de 6 à 7 % de la population française ou de 3 à 7 % selon Tony Anatrell, <br>
    c’est à dire entre 1,8 millions et 4,2 millions de personnes.
    Dans les magazines gays l’estimation peut aller jusqu’à 10 % de la population.
    <br>
    <br>
  </div>

    <h3  class="btn-lg btn-success" style="text-align:center;"> Questionnaire et Résultats</h3>
    <br>
    <br>
  <div class="col-sm-3">

    1)Quelle est votre orientation sexuelle ?  <br>
    2)Exprimez deux adjectifs qui qualifient selon vous l’homosexualité <br>
    Etrange /Naturel / Provocant / Inacceptable
    3)Selon vous est-ce que la société est ouverte à la question de l’homosexualité ? <br>
    4)Connaissez-vous dans votre entourage des couples homosexuels ? <br>
    5)Acceptiez-vous l’homosexualité ? <br>
    6)Êtes-vous pour ou contre le mariage homosexuel ? <br>
    7)Êtes-vous pour ou contre l’adoption par des couples homosexuels ? <br>
    8)L’homosexualité est-il est phénomène de mode  d’après vous ? <br>
    9)Comment réagiriez-vous si votre enfant vous avouait qu’il est homosexuel ? <br>
    -Je serais profondément choque et je ferais tout pour le faire changer <br>
    -Cela me ferait de la peine mais je le laisserais vivre comme il veut  <br>
    -Si possible je chercherais a le faire changer <br>
     -Cela ne me générait pas <br>
    10)Pensez-vous que homosexualité est un choix ? <br>
    11)Pensez-vous que homosexualité est une maladie ou un trouble psychologique ? <br>
    12)Ou vivent les homosexuels en moyenne ? <br>
    En région parisienne ou dans les villes de plus de 100000 habitants. <br>
    13)Quelle est votre réaction lorsque vous voyez un couple homosexuel s’embrasser dans la rue ? <br>
    14)Quel est le plus choquant d’après vous : <br>
    -couple homosexuel qui s’embrasse dans la rue <br>
    -existence de manifestation ou de défilé homosexuels <br>
    -un couple homosexuel se tenir la main en public <br>
    -existence de bars ou de lieux de rencontre fréquente principalement par des homosexuels <br>
    15)Comment réagiriez-vous si vous apprenez que votre meilleur(e) ami(e) est homosexuel(le) ? <br>
    -Cela ne changerait rien à nos relations <br>
    -Je prendrais progressivement mes distance avec <br>
    -Je cesserai toute relation avec <br>
    16)Accepteriez-vous votre président s’il était homosexuel ? <br>
    17)Si une personne du même sexe que vous vous trouvait attirant(e), comment réagiriez-vous ? <br>
    18)Pour vous, "enculé", "pédé", "camionneuse", "tapette" sont : <br>
    -Des insultes ordinaires sans caractère homophobe <br>
    -Des insultes ordinaires avec un caractère homophobe <br>
     -Parfois des insultes, cela dépend du contexte <br>
    -Ce ne sont pas des insultes <br>
    -Pour certains termes des insultes mais pas tous <br>
    -Des mots affectueux <br>
    19)Pour vous, l’apparence d’une personne définit sa sexualité : <br>
    -évidemment, un garçon efféminé est gay et une fille masculine est lesbienne <br>
    -Pas du tout, l’apparence ne veut rien dire sur sa sexualité <br>
    -Peut-être, les apparences sont parfois trompeuses <br>
    20)Est-ce que pour vous un homosexuel peut vivre en banlieue ? <br>
    Statistique avec nos réponses obtenues : <br>
    </div>
    <div class="col-sm-6">

    <strong>L’ensemble des personnes ayant accepté de répondue a notre questionnaire sont herero ils viennent d’Évry
      et du canal et ont souhaité reste anonyme</strong>
    Exprimez deux adjectifs qui qualifient selon vous l’homosexualité <br>
    -58,3 % des habitants de Courcouronnes trouvent l’homosexualité étrange <br>
    -8,3 % des habitants de Courcouronnes trouvent l’homosexualité naturelle <br>
    -33,3 % des habitants de Courcouronnes n’ont pas d’avis <br>
    Selon vous est-ce que la société est ouverte à la question de l’homosexualité ? <br>
    -58 % des habitants de Courcouronnes ont répondu non <br>
    -42 % des habitants de Courcouronnes ont répondu oui <br>
    Connaissez-vous dans votre entourage des couples homosexuels ? <br>
    -50 % des habitants de Courcouronnes ont répondu non <br>
    -50 % des habitants de Courcouronnes ont répondu oui <br>
    Acceptiez-vous l’homosexualité ? <br>
    -66,6 % des habitants de Courcouronnes ont répondu oui <br>
    -16,6 % des habitants de Courcouronnes ont répondu non <br>
    -16,6 % des habitants de Courcouronnes n’ont pas donné leur avis <br>
    Êtes-vous pour ou contre le mariage homosexuel ? <br>
    -58 % des habitants de Courcouronnes sont pour le mariage <br>
    -42 % des habitants de Courcouronnes sont contre le mariage <br>

    Êtes-vous pour ou contre l’adoption par des couples homosexuels ? <br>
    -58 % des habitants de Courcouronnes sont pour l’adoption <br>
    -42 % des habitants de Courcouronnes sont contre l’adoption <br>
    L’homosexualité est-il est phénomène de mode  d’après vous ? <br>
    -67 % des habitants de Courcouronnes ont répondu oui <br>
    -33 % des habitants de Courcouronnes ont répondu non <br>
    Comment réagiriez-vous si votre enfant vous avouait qu’il est homosexuel? <br>
    -25 % des habitants de Courcouronnes ont répondu  <br>: je serais profondément choque et je ferais tout pour le faire changer <br>

    -50 % des habitants de Courcouronnes ont répondu : <br> cela me ferait de la peine mais je le laisserais vivre comme il veut <br>
    -17 % des habitants de Courcouronnes ont répondu : <br> si possible je chercherais a le faire changer <br>
    -8 % des habitants de Courcouronnes ont répondu : <br> cela ne me générait pas
    Pensez-vous que homosexualité est un choix ? <br>
    -8 % des habitants de Courcouronnes ont répondu oui <br>
    -42 % des habitants de Courcouronnes ont répondu non  <br>
    -50 % des habitants de Courcouronnes ont répondu qu’il ne savez pas <br>
    Pensez-vous que homosexualité est une maladie ou un trouble psychologique ? <br>
    -8 % des habitants de Courcouronnes ont répondu oui <br>
    -25 % des habitants de Courcouronnes ont répondu, oui je pense <br>
    -17 % des habitants de Courcouronnes ont répondu, non je ne pense pas <br>
    -50 % des habitants de Courcouronnes ont répondu non <br>
    Ou vivent les homosexuels en moyenne ? <br>
    -92 % des habitants de Courcouronnes ont répondu en région parisienne <br>
    -8 % des habitants de Courcouronnes ont répondu dans les villes de plus de 100000 habitants <br>
    Quelle est votre réaction lorsque vous voyez un couple homosexuel s’embrasser dans la rue ? <br>
    -50 % des habitants de Courcouronnes ont répondu, indiffèrent <br>
    -50 % des habitants de Courcouronnes ont répondu, choqué <br>
    -0 % des habitants de Courcouronnes ont répondu jaloux <br>

    Quel est le plus choquant d’après vous : <br>

    -25 % des habitants de Courcouronnes ont répondu :  <br>un couple homosexuel qui s’embrasse dans la rue<br><br>
    -42 % des habitants de Courcouronnes ont répondu :  <br>l’existence de manifestation ou de défilé homosexuels<br><br>
    -8 % des habitants de Courcouronnes ont répondu :  <br>
    l’existence de bars ou de lieux de rencontre fréquente principalement par des homosexuels<br><br>
    -25 % des habitants de Courcouronnes n’ont pas donné d’avis <br>
    Comment réagiriez-vous si vous apprenez que votre meilleur(e) ami(e) est homosexuel(le) ? <br>
    -92 % des habitants de Courcouronnes ont répondu que cela ne changerait rien à leurs relations <br>
    -8 % des habitants de Courcouronnes ont répondu qu’ils cesseraient toute relation avec <br>
    Accepteriez-vous votre président s’il était homosexuel ? <br>
    -17 % des habitants de Courcouronnes ont répondu non <br>
    -83 % des habitants de Courcouronnes ont répondu que cela leur est égal <br>
    Si une personne du même sexe que vous vous trouvait attirant(e), comment réagiriez-vous ? <br>
    -8,3 % des habitants de Courcouronnes ont répondu que sa les dégouteraient <br>
    -33,3 % des habitants de Courcouronnes ont répondu que sa les flatteraient <br>
    -58,3 % des habitants de Courcouronnes ont répondu que sa leur seraient égal  <br>
    Pour vous, « enculé », « pédé », »camionneuse », « tapette »sont : <br>
    -50 % des habitants de Courcouronnes ont répondu que se sont des insultes ordinaires sans caractère homophobe <br>
    -17 % des habitants de Courcouronnes ont répondu que se sont des insultes ordinaires avec un caractère homophobe <br>
    -25 % des habitants de Courcouronnes ont répondu que se sont parfois des insultes, cela dépend du contexte <br>
    -8 % des habitants de Courcouronnes ont répondu que ce ne sont pas des insultes <br>
    Pour vous, l’apparence d’une personne définit sa sexualité : <br>
    -8,3 % des habitants de Courcouronnes ont répondu : <br>
    évidemment, un garçon efféminé est gay et une fille masculine est lesbienne<br><br>
    -58,3 % des habitants de Courcouronnes ont répondu : <br> pas du tout, l’apparence ne veut rien dire sur sa sexualité <br>
    -33,3 % des habitants de Courcouronnes ont répondu : <br> peut-être, les apparences sont parfois trompeuses <br>
    Est-ce que pour vous un homosexuel peut vivre en banlieue ? <br>
    -25 % des habitants de Courcouronnes ont répondu oui <br>
    -50 % des habitants de Courcouronnes ont répondu non <br>
    -25 % des habitants de Courcouronnes ont répondu qu’ils n’en avaient aucune idée <br>
  </div>

    <div class="col-sm-3">

    <strong>Quelque sondage en plus trouver sur le web a l’échelle internationale <br><br>
    France </strong><br>
    Un sondage français récent réalisé sur Internet, auprès de plusieurs milliers de volontaires ayant des tendances homosexuelles et transitant par un site gay, confirmait ceci :<br><br>
    Durant l’adolescence, la perception de leur homosexualité a poussé 16% d’entre eux à envisager le suicide ; cette perception a été une cause de souffrance pour 54% d’entre eux ; a provoqué leur épanouissement (13%) ; les a laissé indifférents (11%)<br><br>
    Durant leur scolarité, des propos homophobes ont été entendus par 87% d’entre eux (de la part de leurs camarades), 16% (de la part de leurs enseignants) – leur ont été directement adressés :<br><br> 37% d’entre eux, tandis que 8% ont subi une agression physique homophobe<br><br>
    Leur homosexualité aurait été plus facile à assumer, s’ils avaient pu en parler avec un parent (54%), avec un camarade (43%), avec un tiers neutre (29%), avec un ami homosexuel (63%)<br><br>
    Plus de ¾ d’entre eux souhaitent qu’on parle de l’homosexualité à l’école, sous forme d’une sensibilisation, à partir de la rentrée au collège
     <br><br><strong>Etats-Unis </strong><br>
    Aux Etats-Unis, un sondage effectué en 1993 démontrait que : <br>
    Un collégien américain entend en moyenne des commentaires homophobes plus de 25 fois par jour, et dans la plupart des cas, les enseignants n’interviennent pas <br>
    Plus de ¾ des jeunes gays et lesbiennes souffrent gravement d’isolation sociale <br>
    La moitié des élèves entendent des commentaires homophobes de la bouche des enseignants et administrateurs de l’école <br><br>
    Le quart des élèves gays quittent l’école avant d’obtenir leur diplôme, contre seulement 11% des élèves hétérosexuels <br><br>
    Le quart des jeunes gays sont mis à la porte du foyer familial par leurs parents <br>
    19% des jeunes gays et lesbiennes sont victimes d’agressions physiques à cause de leur orientation sexuelle<br>
    Le taux de suicide est 4 fois plus élevé chez les adolescents gays que chez les hétérosexuels.<br>

    <strong><br>Allemagne</strong><br>
    En Allemagne, une étude Berlinoise datant de 1999 transmet les éléments suivants :  <br>
    Les adolescents gays, lesbiens et bisexuels sont 4 fois plus enclins à commettre une tentative de suicide que leurs camarades hétérosexuels  <br>
    18% des adolescents homosexuel(le)s affirment avoir tenté au moins une fois de mettre fin à leurs jours  <br>
    A l’annonce de leur homosexualité, plus de 50% des adolescents reçoivent une réaction négative de la part de leur environnement familial  <br>
    66% affirment subir des violences verbales, voire physiques au sein de leur famille <br>
    Plus de 50% des adolescents interrogés affirment (ab) user de substances nocives (tabac, alcool, drogues) pour amenuiser leur mal-être <br>
    (Idée sur la forme et les informations sur l’homosexualité à l’international : tirer sur oserenparler.com) <br>
  </div>
  <a class="btn btn-secondary" style="float:right;" href="#">Haut de page</a>

{% endblock %}
